<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
    <title>TAMUhack Registration</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2>{{ entry.first_name + " " + entry.last_name }}</h2>
        <h3>status: {{ entry.status }}</h3>
        <form action={{ '/profile/' + entry.id|string }} method="GET">
            <input class="form-control" name="action" value="next" type="hidden">
            <button type="submit" name="submit" class="btn btn-primary">Next Profile</button>
        </form>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            {% for attr in entry.__dict__['_fields_ordered'] %}
                <tr>
                    <td>{{ attr|string }}</td>
                    <td>{{ entry[attr]|string }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <form action={{ '/profile/' + entry.id|string }} method="GET">
        <input class="form-control" name="action" value="edit" type="hidden">
        <button type="submit" name="submit" class="btn btn-primary">Edit Status</button>
    </form>
</div>
</body>
</html>

