<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
    <title>TAMUhack Registration</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet">
</head>

<body>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Upload
            <h1>
                <p class="lead">Number of Entries: {{ count }}</p>
                <p class="lead">Message: {{ msg }}</p>
            </h1>
        </h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <p>Sample Schema: {{ sample_data }}</p>
    </div>
    <div class="row">
        <p>Number of new entries:{{ count_diff }}</p>
    </div>
    <div class="row">
        <form action="/participants" method="GET">
            <input class="form-control" name="action" value="uploaded" hidden>
            <button type="submit" name="submit" class="btn btn-primary">Upload</button>
        </form>
        <form action="/participants" method="GET">
            <input class="form-control" name="action" value="return" hidden>
            <button type="submit" name="submit" class="btn btn-primary">Return</button>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>

